.g {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.g .center {
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.act {
    color: black;
}