div .savedPiece {
	background: white;
	padding: 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
 	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: fit-content;
	width: -moz-fit-content;
	width: -webkit-fit-content;
}

.row {
	display: flex;
	flex-direction: row;
}