.playList {
	display: flex;
	flex-direction: column;
	margin-bottom: 5rem;
	max-height: 75%;
}
.list {
	overflow-y: auto;
}
@media screen and (min-width: 2560px) {
	.playList {
		margin-bottom: 15rem;
	}
}
