.cell {
	width: calc(calc(4vh + 1vw)/2);
	height: calc(calc(4vh + 1vw)/2);
	border: 1px solid rgb(224, 224, 224);
	outline-offset: -8px;
	color: unset;
	outline: 8px outset;
	outline-color: rgba(0, 0, 0, 0);
}

.l1 {
    background: cyan;
}

.l2 {
    background: blue;
}

.l3 {
    background: orange;
}

.l4 {
    background: yellow;
}

.l5 {
    background: green;
}

.l6 {
    background: purple;
}

.l7 {
    background: red;
}

.gameOver {
	background: #eeeded;
}

.frozenLine {
	background: #3D3D3D;
}

.previewPiece {
	background: #dadada;
}

.previewPiece + .previewPiece {
	border-left: 0;
}